{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'edit.css' %}">
<div class="edit-form">
  <h2>Edit Listing: {{ auction.pieceName }}</h2>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn-update">Update Listing</button>
  </form>

  <form method="post" style="margin-top: 20px;">
    {% csrf_token %}
    <input type="hidden" name="delete" value="true">
    <button type="submit" class="btn-delete">Delete Listing</button>
  </form>
</div>
{% endblock %}
